*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}


/* main container */


.container{
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-template-columns:minmax(150px,200px ) 5fr;
  grid-template-rows: minmax(100px ,200px) 4fr; 
  overflow-x: hidden;
  overflow-y: auto;
 
}


/* sidebar in which contain all the options  */

.sidebar{

    
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    
    grid-template-rows:  1fr 4fr;

    background-color: rgb(82, 82, 255);
    justify-content: center;
}




/* dashboard logo icon  & text */

.logo{
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    align-self: self-start;
   
    
}

.icon{
    margin-top: 10px;
    width:40px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-right: 10px;
   

}

.text{
    font-size: 18px;
    color: white;
}

.icon >div{
    background-color: white;
}

.one{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.two{
    grid-column: 1 /2;
    grid-row: 3 / 4;
}

.three{

    grid-column:2 / 3;
    grid-row: 2 / 4;
}

.menu{
grid-row: 2 / 3;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 3fr 2fr 1fr;



    
}


.menu  ul  {
    list-style-type: none;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
   
   

    
}

.menu ul li{
padding: 12px 100vw;
}

.menu ul li:hover{
    padding: 12px 100vw;
    background-color: rgb(61, 61, 230) ;
}
/* header section in which contain options */

.header{

    background-color:white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    -webkit-box-shadow: -1px 15px 16px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: -1px 15px 16px -5px rgba(0,0,0,0.53);
    box-shadow: -1px 15px 16px -5px rgba(0,0,0,0.53);
    z-index: 1;

}



.options{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    align-items: center;
    position: relative;
    top: 30px;
    left: 10px;
    

    
}



.search-icons img{

    width: 30px;
    align-items: center;
    position: relative;
    top: 10px;

    
}
.nav{

    display: flex;
    /* position: relative;
    top: 30px; */
}

.bail{
position: relative;
top: 10px;
right: 10px;

}


.options-two{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    align-items: center;
    position: relative;
    top: 20px;
    left: 10px;

}

.profile{
    display: flex;
    
}

.profile h3{
    position: relative;
    top: 15px;
    left: 5px;
}

.profile img{
width: 50px;
}

.greet{
    display: flex;
    position: relative;
    top: 30px;
   
}

.greet-text{
    position: relative;
    top: 7px;
    margin-left: 7px;
}
.greet-text h1,p{
font-weight: 600;

}

.btns{
    display: flex;
    align-items: center;
    position: relative;
    top: 30px;
}

.btns button{
padding: 12px 18px;
background-color: rgb(82, 82, 255);
border-radius: 20px;
border: none;
margin: 0 10px;
color: white;
font-weight: 600;
}

.btns button:hover{
    padding: 12px 18px;
    background-color: rgb(65, 65, 210);
    border-radius: 20px;
    border: none;
    margin: 0 10px;
    color: white;
    font-weight: 600;
    }



.header input[type='search']{
    border-radius: 20px;
    width: 500px;
    height: 30px;
    background-color: whitesmoke;

}


/* article section in which contain cards  */


.articles{

    background-color:white;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
   
}