:root{
/* color section */


--container-bg:rgb(220, 227, 243);
--sidebar-bg: rgb(82, 82, 255);
--text-color:black;
--box-shadow:2px 2px 3px 2px rgba(0,0,0,0.53);
--header-box-shadow:-1px 10px 10px -5px rgba(0,0,0,0.53);
--card-border-color:yellowgreen;
--header-text-color:white;
--menu-text-color:white;
--menu-opt-hover-bg: rgb(61, 61, 230) ;
--card-description-color:rgb(86, 86, 86);
--announcement-border-line-color:rgb(139, 134, 134);

/* length and width section */

--container-width:100vw;
--container-height:100vh;

--input-width:600px;
--input-height:20px;
--input-font-size:10px;
--input-padding:15px;

--option-top-position:10px;
--option-left-position:20px;

--option-two-top-position:10px;
--option-two-left-position:20px;

--search-icon-width:20px;
--search-icon-top-position:7px;

--bail-icon-width:15px;
--bail-icon-height:15px;
--bail-icon-top-position:13px;
--bail-icon-right-position:10px;


--profile-icon-width:20px;
--profile-icon-height:20px;
--profile-icon-bottom-pos:-10px;
--profile-h3-top:12px;
--profile-h3-left:5px;
--profile-h3-font-size:15px;


--greet-position-top:20px;
--greet-icon-width:30px;
--greet-icon-height:30px;
--greet-text-top-pos:4px;
--greet-text-font-weight:600;
--greet-text-p-size:10px;
--greet-text-h-size:14px;

--btn-top-pos:30px;
--btn-font-weight:500;
--button-font-size:10px;

--logo-margin-top:7px;
--logo-margin-bottom:20px;
--icon-margin-top:10px;
--icon-width:25px;
--icon-height:30px;
--icon-margin-right:10px;

--menu-left-pos:-30px;
--menu-top-pos:25px;
--menu-ul-margin-bottom:20px;
--menu-li-img-width:15px;
--menu-ul-font-size:14px;

--article-gap:20px;
--article-margin-top:20px;
--project-gap:15px;
--project-margin-left:10px;
--projects-row:130px;
--project-text-font-size:9px;
--project-text-font-weight:400;
--project-text-margin-top:9px;

--card-title-font-weight:500;
--card-title-font-size:15px;
--card-title-margin-top:20px;
--card-title-width:100px;

--card-description-font-size:12px;
--card-description-font-weight:200;
--card-description-width:200px;

--card-icon-gap:10px;
--card-icon-img-width:15px;
--card-icon-img-height:15px;
--card-icon-margin-bottom:5px;

--announcement-gap:16px 0px;
--announcement-text-A-font-size:9px;
--announcement-text-A-font-weight:500;
--announcement-text-A-margin-top:10px;

--announcement-card-2-margin:4px;
--announcement-card-2-padding:5px;
--announcement-card-2-p-font-size:10px;
--announcement-card-2-p-font-weight:500;
--announcement-card-2-last-child-font-weight:400;
--announcement-p-last-child-font-size:10px;



--card-3-gap:4px;
--card-3-top-img:-3px;
--card-3-desc-first-child-font-size:10px;
--card-3-desc-first-child-font-weight:400;

--card-3-desc-last-child-font-size:10px;
--card-3-desc-font-weight:300;

--sect-2-gap:5px;
--sect-bg:white;

--announcement-T-font-size:10px;
--announcement-T-font-weight:500;
--announcement-T-margin-top:10px;



}


*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}


/* main container */


.container{
  width: var(--container-width);
  height: var(--container-height);
  display: grid; 
  grid-template-columns:minmax(100px,150px) 7fr;
  grid-template-rows: minmax(100px ,120px) 4fr; 
  justify-content: space-around;
  overflow: auto;
  background-color: var(--container-bg);
 
}

/* header section in which contain options */

.header{
    
    background-color:var(--header-text-color);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    -webkit-box-shadow: -1px 10px 10px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: -1px 10px 10px -5px rgba(0,0,0,0.53);
    box-shadow: var(--header-box-shadow);
    z-index: 1;

    
}


.header input[type='search']{
    border-radius: 20px;
    width: var(--input-width);
    height: var(--input-height);
    background-color: rgb(220, 227, 243);;
    border: none;
    outline: none;

}

input::placeholder{

    font-size: 10px;
    padding: 15px;
}

.options{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    align-items: center;
    position: relative;
    top: var(--option-top-position);
    left:var(--option-left-position);
    

    
}



.search-icons img{

    width:var(--search-icon-width);
    align-items: center;
    position: relative;
    top: var(--search-icon-top-position);
    cursor: pointer;

    
}
.nav{

    display: flex;
    /* position: relative;
    top: 30px; */
}

.bail{
position: relative;
top:var(--bail-icon-top-position);
right: var(--bail-icon-right-position);

}

.bail img{
    width:var(--bail-icon-width);
    height: var(--bail-icon-height);
    cursor: pointer;
}

.options-two{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    align-items: center;
    position: relative;
    top: var(--option-two-top-position);
    left:var(--option-two-left-position);
    

}

.profile{
    display: flex;
    
}

.profile h3{
    position: relative;
    font-size: var(--profile-h3-font-size);
    top: var(--profile-h3-top);
    left: var(--profile-h3-left);
}

.profile img{

   width: var(--profile-icon-width);
   height: var(pr);
   position: relative;
   bottom: var(--profile-icon-bottom-pos);
   cursor: pointer;
}

.greet{
    display: flex;
    position: relative;
    top: var(--greet-position-top);
   
}

.greet img{
    width: var(--greet-icon-width);
    height: var(--greet-icon-height);
    cursor: pointer;
}

.greet-text{
    position: relative;
    top: var(--greet-text-top-pos);
    margin-left: 7px;
}
.greet-text h1,p{
   font-weight: var(--greet-text-font-weight);

}

.greet-text p{
    font-size:var(--greet-text-p-size);
    
    }


.greet-text h1{
    font-size:var(--greet-text-h-size);
    
    }

/* variable remaining from hear */


.btns{
    display: flex;
    align-items: center;
    position: relative;
    top:var(--btn-top-pos);
}

.btns button{

   padding: 5px 8px;
   background-color: var(--sidebar-bg);
   border-radius: 20px;
   border: none;
   margin: 0 5px;
   color: var(--menu-text-color);
   font-weight: var(--btn-font-weight);
   font-size: var(--button-font-size);
   cursor: pointer;
}

.btns button:hover{
    padding: 5px 8px;
    background-color: var(--menu-opt-hover-bg);
    border-radius: 20px;
    border: none;
    margin: 0 5px;
    color: var(--menu-text-color);
    font-weight: var(--btn-font-weight);
    cursor: pointer;

    }
    
 /* dashboard logo icon  & text */
 
 

.logo{
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    margin-top: var(--logo-margin-top); 
    margin-bottom: var(--logo-margin-bottom);
    align-items: center;
    align-self: self-start;
    
    
}

/* Dashboard icon by grid method */

.icon{
    margin-top:var(--icon-margin-top);
    width:var(--icon-width);
    height: var(--icon-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-right: var(--icon-margin-right);
    
    
}


.text{
    font-size: 10px;
    color:var(--menu-text-color);
}

.icon >div{
    background-color: var(--menu-text-color);
}

.one{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.two{
    grid-column: 1 /2;
    grid-row: 3 / 4;
}

.three{

    grid-column:2 / 3;
    grid-row: 2 / 4;
}


/* sidebar in which contain all the options  */

.sidebar{

    
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  10% 60%;

    background-color: var(--sidebar-bg);
    justify-content: center;
   
}


/* sidebar menu section */


.menu{
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  position: relative;
 left: var(--menu-left-pos);
 top: var(--menu-top-pos);
    
}


.menu  ul  {
    list-style-type: none;
    font-size: var(--menu-li-font-size);
    color: var(--menu-text-color);
    margin-bottom: var(--menu-ul-margin-bottom);
       
}

.menu li img{
    width: var(--menu-li-img-width);

}

.menu ul li{
   padding: 5px 80px;
   font-size: var(--menu-ul-font-size);
   display: grid;
   grid-template-columns: 20px 20px;
   cursor: pointer;
}

.menu ul li:hover{
    padding: 5px 80px;
    background-color: var(--menu-opt-hover-bg) ;
    font-size: var(--menu-ul-font-size);
}





/* article section in which contain cards  */


.articles{

   
    grid-column: 2 / 3;
    grid-row: 2/ 3;
   display: grid;
   grid-template-columns: 4fr 1fr;
   gap:var(--article-gap);
   justify-content: center;
   margin-top: var(--article-margin-top);
}


.projects{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:20px var(--projects-row) var(--projects-row) var(--projects-row);
    grid-auto-flow: row;
    grid-auto-rows: var(--projects-row);
    gap: var(--project-gap);
    margin-left: var(--project-margin-left);
    
}

.projects .text{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    color:var(--text-color);
    font-size: var(--project-text-font-size);
    font-weight: var(--project-text-font-weight);
    margin-top: var(--project-text-margin-top);
}

.card{

   border: 1px solid var(--text-color);
   background-color: var(--menu-text-color);
   border-radius: 10px;
   border: none;
   border-left:5px var(--card-border-color) solid;
   box-shadow: var(--header-box-shadow);
   display: grid;
   justify-content: center;
   align-items: center;
   cursor: pointer;

}

.card .title{
    font-size: var(--card-title-font-size);
    font-weight: var(--card-title-font-weight);
    width: var(--card-title-width);
    margin-top: var(--card-title-margin-top);
    grid-row: 1/2;
    
}

.card .description{
   font-size: var(--card-description-font-size);
   font-weight: var(--card-description-font-weight);
   color: var(--card-description-color);
   width: var(--card-description-width);

}

.card-icon{

    display: flex;
    margin-bottom: var(--card-icon-margin-bottom);
    position: relative;
    gap:var(--card-icon-gap);
    justify-content: end;
 
}

.card-icon img{
    width:var(--card-icon-img-width);
    height:var(--card-icon-img-height);
}

.anaouncement{

    display: grid;
    grid-template-columns: 170px;
    grid-template-rows: 20px  185px 20px 185px;
    gap: var(--announcement-gap);
    
}


.anaouncement .text-A{
    grid-row: 1 / 2;
    color:var(--text-color);
    font-size: var(--announcement-text-A-font-size);
    margin-top: var(--announcement-text-A-margin-top);
    font-weight: var(--announcement-text-A-font-weight);

}

.anaouncement .text-T{
    font-size: var(--announcement-T-font-size);
    margin-top:var(--announcement-T-margin-top);
    font-weight: var(--announcement-T-font-weight);
}
.anaouncement .card-2{
    margin: var(--announcement-card-2-margin);
    padding: var(--announcement-card-2-padding);
    border: none;
    border-bottom: 1px var(--announcement-border-line-color) solid;
}

.anaouncement .card-2:last-child{
    border: none;
}

.anaouncement .card-2 p:first-child{
    font-size: var(--announcement-card-2-p-font-size);
    font-weight: var(--announcement-card-2-p-font-weight);


}

.anaouncement .card-2 p:last-child{
    font-size: var(--announcement-p-last-child-font-size);
    font-weight: var(--announcement-card-2-last-child-font-weight);
    color: var(--card-description-color);

}
.sect{
    border: none;
    background-color:var(--sect-bg);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}

.sect-2{
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.53);
   
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: var(--sect-2-gap);
   cursor: pointer;    

}


.card-3{
    display: flex;
    margin-top: 9px;
    gap: var(--card-3-gap);
}

.card-3 img{
    position: relative;
    top:var(--card-3-top-img);
}

.card-3 .desc p:first-child{
    font-size: var(--card-3-desc-first-child-font-size);
    font-weight: var(--card-3-desc-first-child-font-weight);
}

.card-3 .desc p:last-child{
    font-size:var(--card-3-desc-last-child-font-size);
    font-weight: var(--card-3-desc-font-weight);
}